@import url('https://fonts.googleapis.com/css?family=Hind');

.pinball-game {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #dee2e6;
  background-color: #212529;
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
}

.pinball-game-container {
  position: relative;
  line-height: 0;
}

.pinball-game-score {
  position: absolute;
  top: 10px;
  line-height: 1;
}

.pinball-game-score span {
  font-size: 3.25rem;
}

.pinball-game-current-score {
  left: 10px;
}

.pinball-game-high-score {
  text-align: right;
  right: 10px;
}

.pinball-game-trigger {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 10px;
  border: 0;
  border-radius: 50%;
  color: inherit;
  background-color: #e64980;
  text-align: center;
  line-height: 80px;
  font-size: 1.25rem;
  text-transform: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.pinball-game-left-trigger {
  left: 10px;
}

.pinball-game-right-trigger {
  right: 60px;
}

canvas {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.75);
}

/* responsive scaling, because pinball tables are tall */
@media (min-height: 0px) {
  .pinball-game-container {
    transform: scale(0.25);
  }
}
@media (min-height: 400px) {
  .pinball-game-container {
    transform: scale(0.5);
  }
}
@media (min-height: 600px) {
  .pinball-game-container {
    transform: scale(0.75);
  }
}
@media (min-height: 800px) {
  .pinball-game-container {
    transform: scale(1);
  }
}
