@import url('https://fonts.googleapis.com/css?family=Hind');

/* Pinball Game Container */
.pinball-game-wrapper {
  width: 100%;
  height: 100%;
}

.pinball-container {
  position: relative;
  line-height: 0;
  background: #212529;
  border-radius: 10px;
  overflow: visible;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.75);
}

/* Start Screen */
.pinball-start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: #212529;
  border-radius: 10px;
  color: orange;
  font-family: 'Hind', sans-serif;
}

.pinball-start-screen h3 {
  margin-bottom: 20px;
}

.pinball-start-screen p {
  text-align: center;
  margin-bottom: 20px;
}

.pinball-start-button {
  background-color: rgb(163, 29, 29);
  color: orange;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Hind', sans-serif;
  border-style: outset;
  border-top: solid 2px rgb(33, 33, 33);
  border-left: solid 2px rgb(33, 33, 33);
  border-bottom: solid 2px rgb(118, 118, 118);
  border-right: solid 2px rgb(118, 118, 118);
  box-shadow: 0px 5px 10px 0px rgb(48, 48, 48);
}

.pinball-start-button:hover {
  background-color: rgb(200, 50, 50);
}

/* Score Display */
.score {
  position: absolute;
  top: 10px;
  line-height: 1;
  z-index: 10;
}

.score span {
  font-size: 1.5rem;
  color: orange;
  font-family: 'Hind', sans-serif;
}

.current-score {
  left: 10px;
}

.high-score {
  text-align: right;
  right: 10px;
}

/* Paddle Controls */
.trigger {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 20px;
  border: 0;
  border-radius: 50%;
  color: inherit;
  background-color: #e64980;
  text-align: center;
  line-height: 60px;
  font-size: 1rem;
  text-transform: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  font-family: 'Hind', sans-serif;
  z-index: 10;
}

.trigger:hover {
  background-color: #f06595;
}

.trigger:active {
  background-color: #d6336c;
}

.left-trigger {
  left: 20px;
}

.right-trigger {
  right: 20px;
}

/* Canvas Styling */
canvas {
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.75);
  display: block;
}

/* Matter.js Game Elements - CSS Classes */
.matter-outer {
  fill: #495057 !important;
}

.matter-inner {
  fill: #15aabf !important;
}

.matter-bumper {
  fill: #fab005 !important;
}

.matter-bumper-lit {
  fill: #fff3bf !important;
}

.matter-paddle {
  fill: #e64980 !important;
}

.matter-pinball {
  fill: #dee2e6 !important;
}

.matter-reset {
  fill: #ffffff !important;
}

/* Responsive Scaling - Better approach */
@media (max-width: 480px) {
  /* Mobile phones - fill screen well */
  .pinball-container {
    transform: scale(0.8);
    transform-origin: center center;
  }

  .pinball-game-wrapper {
    /* padding: 5px; */
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Tablets - medium scale */
  .pinball-container {
    transform: scale(1);
    transform-origin: center center;
  }

  .pinball-game-wrapper {
    padding: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Small desktop - larger scale */
  .pinball-container {
    transform: scale(1.15);
    transform-origin: center center;
    max-width: 550px;
    max-height: 880px;
  }

  .pinball-game-wrapper {
    padding: 15px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* Desktop - even larger scale */
  .pinball-container {
    transform: scale(1.25);
    transform-origin: center center;
    max-width: 600px;
    max-height: 960px;
  }

  .pinball-game-wrapper {
    padding: 20px;
  }
}

@media (min-width: 1441px) {
  /* Large desktop - maximum scale */
  .pinball-container {
    transform: scale(1.35);
    transform-origin: center center;
    max-width: 650px;
    max-height: 1040px;
  }

  .pinball-game-wrapper {
    padding: 25px;
  }
}

/* Game Container Layout */
.pinball-game-active {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
