
body {
  background-color: rgb(48,48,48);

}

.App {
  box-sizing: border;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  
}

/* currently accounting for top/bottom mobile browser search bar and nav buttons
screen real estate */
.dead-div {
  height: 5vh;
  width: 100vw;
}

input {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 25px;
}

.row {
  display: flex;
  flex-direction: row;
}


/* ///////// Dynamic Box ///////// */

.dynamic-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 5vh 5vh 2vh 5vh;
  background-color: rgb(48,48,48);
  
}


.ball-save-title {
  height: 7vh;
  font-size: 4vh;
  font-weight: 800;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: .5em;
  text-align: center;

  background-color: rgb(163, 29, 29);
  border-radius: 25px;
  border-top: solid 3px rgb(33, 33, 33);
  border-left: solid 3px rgb(33, 33, 33);
  border-bottom: solid 2px rgb(118, 118, 118);
  border-right: solid 2px rgb(118, 118, 118);

  /* box-shadow: 3px gray; */
  width: 80vw;
}

/* ///////// Nav Box ///////// */
.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 80vw;
  background-color: black;
  color: gray;
  /* font-family: ; */
  margin-top: 2vh;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 25px;
  border-top: solid 2px rgb(33, 33, 33);
  border-left: solid 2px rgb(33, 33, 33);
  border-bottom: solid 2px rgb(118, 118, 118);
  border-right: solid 2px rgb(118, 118, 118);
}

/* ///////// Button ///////// */
.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border: none;
  border-radius: 100px;
  background-color: crimson;

  font-size: 5vh;
  color: white;
}

.pinBall {
  display: flex;
  width: 15vh;
  height: 15vh;
}
/* ///////// Profile ///////// */

.profile {
  display: flex;
  flex-direction: column;
  color: white;

}

.score-card-box-col {
  display: flex;
  flex-direction: column;

  padding: 20px;

}

.score-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  padding: 10px 0;
}

.machineImg {
  display: flex;
  background-color: aliceblue;
  height: 10vh;
  width: 10vh;
}

.score-box {
  padding-left: 20px;
}

.score-num {
  padding: 0 5px 0 5px;
}


/* /////// ADD //////// */

.add-machine-container {

  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  height: inherit;
  padding-top: 5vh;
  color: white;

}

.add-input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  width: 35vh;

}

.label {
  padding-bottom: 5px;
}

.add-submit {
  margin-top: 0px;
}


/* ////////////// Login ////////////// */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: inherit;
  color: white;
}

.input-titles {
  font-size: 3vh;
}

/* ////////////// History ////////////// */

.history-container {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 100vw;
height: 80vh;
}

.score-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  height: 25vh;
  padding: 10px;
}

.score-card-img {
  width: 20vh;
  height: 20vh;
}
